@charset "UTF-8";

.h1-cover {
	width:900px;
	margin: 30px auto;
}
.diaryFromCover {
	width:900px;
	height:700px;
	margin: 0 auto;
	padding:20px;
	background-color: #F8F5F5;
}
.diaryForm {
	width:800px;
	margin: 0 auto;
}
.form-border {
	border: 1px solid;
	border-color: #A3A3A3;
	border-radius: 0;
}

.diary-content {
	height: 400px;
}

.diary-last {
	margin:10px;
}

.submit-button {
	width:120px;
	border-radius: 30px;
}


