@charset "UTF-8";

<<<<<<< HEAD
=======

>>>>>>> c8a7e98a1ecd9e5db33a38df51d904fb79cae64e
.user-notice-list {
	width:50%;
	margin: 0 auto;
}

.noticesearchbar {
	display: flex;
	text-align:center;	
	justify-content: center;
	align-items: center;
	width:50%;
	margin: 0 auto;
<<<<<<< HEAD
    height:50%;
    	
=======
    height:50%;	
>>>>>>> c8a7e98a1ecd9e5db33a38df51d904fb79cae64e
 }



.noticetable {
	display: flex;
	text-align: center;
	justify-content: center;
	align-items: center;
	width: 50%;
	margin: 0 auto;
	height: 50%;
}